<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header"><small>{{ title }}</small></h1>
            <app-items [items]="items" [currentPage]="currentPage" [pageSize]="pageSize"></app-items>
            <hr />
            <app-pages [items]="items" [(currentPage)]="currentPage" [pageSize]="pageSize"></app-pages>
        </div>
        <div class="col-md-4 ">
            <app-search></app-search>
            <hr />
            <app-shopping-car></app-shopping-car>
        </div>
    </div>
</div>