<div class="well cart">
    <h4>購物車</h4>
    <ul class="itemsInCart ">
        <li>
            <div class="cart-item">
                <div class="cart-title">Mcconnell</div>
                <span class="price">$ 834</span> x
                <span class="count">1</span>
                <div class="handler">
                    <a href="#" class="cart-btn plus">+</a
      ><a href="#" class="cart-btn minus">-</a>
                </div>
            </div>
        </li>
    </ul>
    <hr />
    <p>小計： <span>$ 834</span></p>
</div>